
<md-dialog style="padding: 20px;padding-bottom: 10px">
    <div layout="row" class="md-padding" layout-align="center center">
<div ><md-icon style="font-size:36px;margin-right: 10px;min-width: 50px" class="md-warn">warning</md-icon></div>
<div flex>Would you like to delete the {{}}'s History</div>
    </div>
<md-dialog-content>
</md-dialog-content>

<md-dialog-actions>
    <button md-button md-dialog-close>Cancel</button>
    <button md-button ng-click="" md-dialog-close>Confirm Delete</button>
</md-dialog-actions>

</md-dialog>