
<div >
     <style>
    
    .dragBox{
        outline-style: dashed;
        outline-offset: -10px;
        outline-width: 3px;
        outline-color: rgba(00, 0, 0, 0.24);
        color: rgba(0, 0, 0, 0.7);
        height: 300px;
        background-color: {{mdColors.getThemeColor('primary-100-0.01')}}
        
    }
    .dragOverBox{   
        outline-color: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.35);
        background-color: rgba(0, 0, 0, 0.02)
    }
    .md-chips md-chip{
         height: 34px !important;
         padding: 0 0px 0 18px !important;
        -webkit-animation: fadein 0.5s;
         animation: fadein 0.5s;
    }
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    .myChipButton{
    margin: 0px !important;
    height: 0px !important;
    min-width: 0px !important;
    padding: 0px !important;
    width: 36px !important;
    }
    
    .md-avatar {
    width: 48px !important;
    height: 56px !important;
    background-image: url('images/mime-icon-set.png') !important;
    background-size: 350px !important;
    border-radius: 0%  !important;
    }

    md-input-container .md-input[disabled] {
         background-image: none !important;
         color:#000 !important;
    }
    md-select[disabled] .md-select-icon{
         display: none !important;
    }
    md-select[disabled]{ 
         display: block !important;
    } 
    md-select .md-select-value[disabled]{
         color:#000 !important;
         background-image: none !important;
    }


       </style>
<ng-form name="pserv.mdForm" >
  
  
  <md-card  flex   when-visible="animServ.FormAnimateElementIn" when-not-visible="animServ.FormAnimateElementOut">
    <md-card-content >

      <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Personal Particulars</span>
    </md-card-title-text>
  </md-card-title>

  <div flex="100" layout="column" layout-gt-xs="row" layout-align="center">
    <div flex="50" layout="row" layout-align="center" >
  <md-input-container flex="70" dividerColor="primary" align="start">
    <md-icon class="md-primary">person</md-icon>
      <input ng-disabled="!pserv.editMode" value="person specific info.." mdInput name="Name" ng-model="pserv.name"  type="text" required
             placeholder="Name">
              <div md-auto-hide="false" ng-messages="mdform.Name.$error" role="alert">
              <div ng-message="required">You must supply patient's name.</div>
              </div>
  </md-input-container>
    </div>

    
  <div flex="50" layout="row" layout-align="center">
  <md-input-container flex="70" dividerColor="primary" align="start">
    <md-icon class="md-primary">date_range</md-icon>
      <input ng-disabled="!pserv.editMode" value="person specific info.." mdInput name="Age" ng-model="pserv.age" type="number" required
             placeholder="Age">
  </md-input-container>
  </div>
  </div>
  <div class="md-primary"  style="color:rgba(0,0,0,1);padding-bottom: 24px">
    
    
   <md-radio-group ng-disabled="!pserv.editMode" ng-model="pserv.gender"  flex="50" required placeholder="Gender">
     <div layout-gt-xs="row" flex>
       <div flex="50" flex-xs="100" layout="row" layout-align="center" style="padding-bottom: 12px" ><div flex="70"><md-icon style="padding-right: 10px" class="md-primary">wc</md-icon>Patient's gender: </div>
       </div>
       <div flex="50" flex-xs="100" layout="row" layout-align="center" >
       <div flex="70"  layout="column">
       <div style="padding-left: 3px" flex> 
      <md-radio-button value="M" class="md-primary">Male</md-radio-button>
       </div>
      <div style="padding-left: 3px" flex>
      <md-radio-button value="F"  class="md-primary">Female</md-radio-button>
     </div>
       </div>
       </div>
     </div>
    </md-radio-group>
  </div>
    </md-card-content>
  </md-card>
  <md-card   when-visible="animServ.FormAnimateElementIn" when-not-visible="animServ.FormAnimateElementOut">
    <md-card-content>
    
    <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Contact Info</span>
    </md-card-title-text>
  </md-card-title>

    <div layout="column" flex-xs="100" layout-gt-xs="row">
    <div flex="50" layout="row" layout-align="center" >
  <md-input-container flex="70" dividerColor="primary" >
     <md-icon class="md-primary">phone</md-icon>
      <input ng-disabled="!pserv.editMode"  mdInput name="phone" minlength="10" maxlength="10" ng-model="pserv.phone1" type="tel"
             placeholder="phone">
  </md-input-container>
    </div>
    <div flex="50" flex-xs="100" layout="row" layout-align="center" >
  <md-input-container flex="70" dividerColor="primary" >
    <md-icon class="md-primary">phone</md-icon>
      <input ng-disabled="!pserv.editMode" mdInput name="Alternative phone" ng-model="pserv.phone2" type="tel"
             placeholder="Alternative phone" minlength="10" maxlength="10">
  </md-input-container>
  </div>
  
  </div>
  </md-card-content>
  </md-card>




  <md-card    when-visible="animServ.FormAnimateElementIn" when-not-visible="animServ.FormAnimateElementOut">
    <md-card-content>
    <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Residential address</span>
    </md-card-title-text>
  </md-card-title>
  
  <div flex="50" flex-xs="100" layout="row" layout-align="center" >
  <md-input-container ng-disabled="!pserv.editMode" flex="70" dividerColor="primary" >
    
    <md-icon class="md-primary">location_city</md-icon>
      <textarea ng-disabled="!pserv.editMode" name="Street Address" rows="3" md-maxlength="70" maxlength="70" md-select-on-focus ng-model="pserv.address" type="text"
             placeholder="Street Address" flex></textarea>
  </md-input-container>
  </div>
  <div layout="column" layout-gt-xs="row">
        
  <div flex="50" flex-xs="100" layout="row" layout-align="center" >
  <md-input-container ng-disabled="!pserv.editMode" flex="70" dividerColor="primary">
    <md-icon class="md-primary"></md-icon>
      <md-select name="City" ng-disabled="!pserv.editMode" ng-change="pserv.getState()" placeholder="City" ng-model="pserv.city_m"  type="text">
<md-option  data-ng-repeat="statei in pserv.states | filter:{state:pserv.state_m} | orderBy: 'name'" value="{{statei.name}}">{{statei.name}}</md-option>
      </md-select>
  </md-input-container>
  </div>
  <div flex="50" flex-xs="100" layout="row" layout-align="center" >
  <md-input-container flex="70" dividerColor="primary">
    <md-icon class="md-primary"></md-icon>

<md-select name="State" ng-disabled="!pserv.editMode" placeholder="State" ng-model="pserv.state_m"  type="text">
<md-option data-ng-repeat="statei in pserv.states | unique:'state' | orderBy:'state'" value="{{statei.state}}">{{statei.state}}</md-option>
</md-select>
  </md-input-container>
  </div>
  </div>
  
  </md-card-content>
  </md-card>

<md-card style="margin-bottom: 0px"    when-visible="animServ.FormAnimateElementIn" when-not-visible="animServ.FormAnimateElementOut">
    <md-card-content>
      <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Notes</span>
    </md-card-title-text>
  </md-card-title>
  <div flex="100" layout="row" layout-align="center" >
  <md-input-container flex="80" dividerColor="primary" style="width: 200px"  flex-gt-xs="75" align="start">
    <md-icon class="md-primary">border_color</md-icon>
      <textarea ng-disabled="!pserv.editMode" name="Comments" rows="7" md-maxlength="256" maxlength="256" md-select-on-focus ng-model="pserv.comments" type="text"
             placeholder="Comments" flex></textarea>
  </md-input-container>
  </div>
    </md-card-content>
  </md-card>



  <!--button ng-click="">test</button-->
  <md-card style="padding-bottom: 5%"    when-visible="animServ.FormAnimateElementIn" when-not-visible="animServ.FormAnimateElementOut">
    <md-card-content>
      <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Attachments</span>
    </md-card-title-text>
  </md-card-title>





<div flex layout="row" layout-align="center">

  <div style="padding-bottom: 30px" flex="90" ng-if="!pserv.attachmentsIsEmpty()">
      
      <md-list >
        <md-subheader style="border: #d2d2d2;border-style: dashed ;border-width: 1px"  class="md-no-sticky">{{pserv.attachments.length}} Attachments in total</md-subheader>
        <div style="margin-top: 10px; padding-bottom:10px; border: #d2d2d2;border-style: dashed ;border-width: 1px">
        <md-list-item  class="md-3-line" ng-repeat="file in pserv.attachments" ng-click="pserv.openExt(file)">
         
          <div class="md-avatar" style="background-position: {{icons.findSpriteElement(file.mimetype).pos}}" ></div>
          <div class="md-list-item-text">
            <h3>{{ file.path.base }}</h3>
            <h4 style="color: #636363">File Size : {{ file.size | fileSize}}</h4>
          
          </div>
          <md-divider></md-divider>
         
        </md-list-item>
        </div>
      </md-list>
  </div>
</div>

  <div flex class="md-padding">
      <div flex style="border: #d2d2d2;border-style: dashed ;border-width: 1px;text-align: center;" ng-if="pserv.attachmentsIsEmpty()&&!pserv.editMode">
        <md-subheader class="md-no-sticky ">No documents attached yet</md-subheader>
          
      </div>

      
  <div id="attachDialog" flex  ng-if="pserv.editMode">
  <div flex layout="row" flex layout-align="center center">
  <div ngf-drop flex="100" name="attachments" layout="row" ng-model="pserv.selectedFiles" ngf-multiple="true" layout-align="center center" class="dragBox"  ngf-drag-over-class="'dragOverBox'" flex-gt-xs="85">

    <div  style="text-align: center;align-items: center">
        <md-icon class="md-padding" style="color:inherit">system_update_alt</md-icon><br>
        Drop files here<br>
        or<br>
        <button ng-model="pserv.selectedFiles"   ngf-select ngf-multiple="true" md-button class="md-raised md-primary"  >select</button>
    </div>
  </div>
  </div>
  <!--<div flex="100" layout="row" layout-align="center center">
      <div flex="80"  flex-gt-xs="70">
          <md-progress-linear  md-mode="indeterminate"></md-progress-linear>
      </div>
  </div>-->
<div flex ng-if="pserv.selectedFiles" flex="80" class="md-padding" style="margin-top:20px"  flex-gt-xs="70">
 
  <md-chips ng-model="pserv.selectedFiles" 
          readonly="true" md-on-append="pserv.pulkit()" md-on-remove="pserv.pulkit()">
      <md-chip-template >
        <span >
          {{$chip.name}}
        </span>
        <span>
          <md-button class="myChipButton md-icon-button " md-chip-remove>
            <md-icon>cancel</md-icon>
          </md-button>
        </span>
      </md-chip-template>
    </md-chips>
</div>

  </div>


    </md-card-content>
  </md-card>

  
</ng-form>
</div>
</div>